

.top-right-button {
    position: absolute;
    top: 10px; /* Расстояние от верхнего края */
    right: 10px; /* Расстояние от правого края */
    padding: 10px 20px;
    background-color: #007bff; /* Синий фон */
    color: white; /* Белый текст */
    border: none;
    border-radius: 5px; /* Закругленные края */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    font-size: 16px;
    float: right;
}

.top-right-button:hover {
    background-color: #0056b3; /* Цвет при наведении */
}
